header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

h1 {
    padding-left: 1%;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}